@model Elearning.Models.UserCourseDetail
@{
    ViewData["Title"] = "Ders";
}

<div class="padding-y-60 bg-cover" data-dark-overlay="6">
    <div class="container">
        <h1 class="text-white">
            Ders Detayı
        </h1>
        <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">
            <li class="breadcrumb-item"><a asp-controller="MyCourse" asp-action="Index">Kurslarım</a></li>
            <li class="breadcrumb-item"><a asp-controller="MyCourse" asp-action="Detail" asp-route-id="@Model.UserCourseId">Kurs</a></li>
            <li class="breadcrumb-item">Event Details</li>
        </ol>
    </div>
</div>


<section class="padding-y-60 bg-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 mt-4">
                <div class="card shadow-v1">
                    <div class="position-relative">
                        <img class="card-img-top w-100" src="@Model.Lecture.PreviewPath" alt="">
                    </div>
                    <div class="card-body padding-40">
                        <h2 class="card-title">
                            @Model.Lecture.Title
                        </h2>
                        <ul class="nav tab-line tab-line border-bottom my-4 text-gray" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#Tabs_1-1" role="tab" aria-selected="true">
                                    Açıklama
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane fade active show" id="Tabs_1-1" role="tabpanel">
                                @Html.Raw(Model.Lecture.Description)
                                @if (!string.IsNullOrEmpty(Model.Lecture.Aim))
                                {
                                    <h4 class="my-3">
                                        Hedefler
                                    </h4>
                                    <ul class="list-unstyled list-style-icon list-icon-check my-4">
                                        @Html.Raw(Model.Lecture.Aim)
                                    </ul>
                                }

                                @if (!string.IsNullOrEmpty(Model.Lecture.Content))
                                {
                                    <div class="row">
                                        <h4 class="my-3 col-12">
                                            İçindekiler
                                        </h4>
                                        <div class="col-md-6 mb-4">
                                            <ul class="list-unstyled list-style-icon list-icon-bullet">
                                                @Html.Raw(Model.Lecture.Content)
                                            </ul>
                                        </div>
                                    </div> <!-- END row-->
                                }

                            </div> <!-- END tab-pane-->


                        </div> <!-- END tab-content-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <a asp-controller="Lecture" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-primary margin-40">Başla</a>
                <div class="card shadow-v1">
                    <div class="card-body">
                        <h4 class="mb-2">
                            Ders İçeriği
                        </h4>
                        @foreach (var item in Model.Lecture.LectureDetails)
                        {
                            <div @*class="border-bottom py-3"*@>
                                <div class="media">
                                    @switch (item.Type)
                                    {
                                        case "video":
                                            <i class="ti-control-play text-primary mt-2"></i>
                                            <div class="media-body ml-3">
                                                <h6 class="my-0">Ders Videosu</h6>
                                                <span>Konu Anlatımı</span>
                                            </div>
                                            break;
                                        case "poll":
                                            <i class="ti-check text-primary mt-2"></i>
                                            <div class="media-body ml-3">
                                                <h6 class="my-0">Soru</h6>
                                                <span>Konu Sorusu</span>
                                            </div>
                                            break;
                                        case "pretest":
                                            <i class="ti-check text-primary mt-2"></i>
                                            <div class="media-body ml-3">
                                                <h6 class="my-0">Soru</h6>
                                                <span>Öntest Sorusu</span>
                                            </div>
                                            break;
                                        case "aftertest":
                                            <i class="ti-check text-primary mt-2"></i>
                                            <div class="media-body ml-3">
                                                <h6 class="my-0">Soru</h6>
                                                <span>Çıkış Testi Sorusu</span>
                                            </div>
                                            break;
                                        default:
                                            break;
                                    }

                                </div>
                            </div>
                        }

                    </div>
                </div>




                @if (Model.Lecture.InstructorId != null)
                {
                    <div class="card shadow-v1 mt-4">
                        <div class="col-lg-8 mx-auto text-center">
                            <div class="owl-item cloned" id="another">
                                <div class="item">
                                    <img class="iconbox iconbox-xxl mx-auto" src="/lib/educati/img/avatar/7.jpg" alt="">
                                    <h4 class="font-primary mt-4">
                                        @Model.Lecture.Instructor.Name
                                    </h4>
                                    <p>
                                        @Model.Lecture.Instructor.Institution
                                    </p>
                                    <div class="position-relative mt-5" id="cvi" style="max-height:150px;overflow:hidden">
                                        <i class="ti-quote-left position-absolute absolute-center-x display-1 opacity-01 top-0" data-offset-top="-40" style="margin-top: -40px;"></i>
                                        <p>
                                            @Model.Lecture.Instructor.Description
                                        </p>
                                    </div>
                                    <button class="btn btn-sm btn-primary" onclick="showcv()">Tamamı...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div style="height:200px;"></div>
                }

            </div>
        </div> <!-- END row-->
    </div> <!-- END container-->
</section>


@section Scripts{
    <script src="~/js/LectureIndex.js"></script>
 }